header {
  background: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg')
    no-repeat center center;
  background-size: cover;
  height: 75vh;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

ul {
  display: inline-block;
  padding-top: 10px;
  text-align: right;
  list-style-type: none;
  float: right;
}

li {
  margin-left: 20px;

  display: inline-block;
}

li a {
  font-family: 'Montserrat', sans-serif;
  size: 20px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  color: #fed136;
}

.nav {
  width: 100%;
  height: 200px;
  background-color: black;
}

.nav-burger {
  display: none;
  background-color: #fed136;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border-style: none;
  width: 77px;
  height: 38px;
}

.nav-burger img {
  width: 13px;
  height: 14px;
  font-size: 12px;
  margin-left: 2px;
}

.logo {
  width: 200px;
  display: inline-block;
}
.logo h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 28px;
  line-height: 42px;
  color: #fec503;
}

.headline {
  /* max-width: 600px; */

  margin: 200px auto;
  text-align: center;
}

.headline h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  line-height: 75px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.headline h3 {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-style: italic;
  margin-bottom: 50px;

  color: white;
}

.headline button {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 20px 40px;
  background-color: #fed136;
  border: none;
  border-radius: 3px;
}

section {
  padding: 150px;
}

.section-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 10px 0;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3em 0;
}

.section-desc {
  font-family: 'Droid Serif', Helvetica, Arial;
  font-style: italic;
  font-size: 1em;
  color: rgb(134, 142, 150);
}

h2 {
  font-family: 'Montserrat', Helvetica, Arial;
  font-size: 1.4em;
  padding: 10px 0;
}

.description {
  font-family: 'Roboto Slab', Helvetica, Arial;
  font-size: 16px;
  line-height: 28px;
  color: #868e96;
  padding: 10px 10px;
}

.fa-stack {
  color: #feca30;
}

@media (min-width: 1200px) {
  nav {
    width: 60vw;
  }
}

@media (max-width: 1000px) {
  nav {
    width: 90vw;
  }

  nav ul {
    display: none;
  }

  .nav-burger {
    display: inline-block;
    float: right;
    font-size: 12px;
  }

  .headline {
    margin: 100px auto;
    text-align: center;
  }

  .headline h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 500px) {
    .headline {
      margin: 50px auto;
    }

    .headline h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    .headline h3 {
      font-size: 1.6rem;
    }

    nav {
    }
  }
}
